.profileIcon{
    width: 34px;
    height: auto;
}
.button :global(.vtex-button__label){
   font-size: .85rem;
}
.emailPasswordOptionBtn :global(.vtex-button),
.accessCodeOptionBtn :global(.vtex-button){
    background-color: #f4f4f4;
    color: #424242;
}
.container :global(.vtex-button__label){
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding: 0px 1.6rem 0px 1.55rem;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.options{
    min-width: 21rem;
}
