.paper {
    padding: 2rem;
}

.triggerContainer--newletter-footer-popup {
    width: 100%;
    margin: 0 auto;
}

.modal-layout-search--modal-layout {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
}

.modalTitle--rich-text {
    text-align: center;
}

.container--modal-layout-search {
    height: 50vh;
}