.productHighlightWrapper--collection{
    background-color: #bda36a;
    color: #fff;
    font-weight: 500;
    padding: 0.2rem 0.3rem;
    margin-bottom: 0.2rem;
    width: fit-content;
    border-radius: 3rem; 
    font-size: 0.8rem;
}
.productHighlightWrapper--collectionPdp{
    background-color: rgb(215, 0, 0);
    color: #fff;
    font-weight: 500;
    padding: 0.2rem 0.3rem;
    margin-bottom: 0.2rem;
    width: fit-content;
    border-radius: 3rem; 
    font-size: 0.8rem;
    float: right;
}

.productHighlightWrapper--promos{
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    font-weight: 600;
    padding: 3px;
    font-size: .8rem;
}